KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ENV{ID_REVISION}=="8233", MODE:="0777", SYMLINK+="imu"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ENV{ID_REVISION}=="0264", MODE:="0777", SYMLINK+="esp"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ENV{ID_REVISION}=="0100", MODE:="0777", SYMLINK+="lidar"