
frequency: 25  # Tần số cập nhật UKF
sensor_timeout: 0.1
two_d_mode: true  # Kích hoạt chế độ 2D, giả định rằng robot di chuyển trên mặt phẳng
odom0: /robot_0/odom
odom0_config: [true, true, false, false, false, false, true, true, false, false, false, true, false, false, false]
imu0: /robot_0/imu/data
imu0_config: [false, false, false, true, true, true, false, false, false, true, true, true, false, false, false]
imu0_queue_size: 10
imu0_remove_gravitational_acceleration: true
odom_frame: robot_0/odom
base_link_frame: dummy_base_link
world_frame: robot_0/odom
publish_tf: false
